tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
tomli==1.2.3
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.5
urwid==2.1.2
uvicorn==0.14.0
validators==0.18.2
valuedispatch==0.0.1
virtualenv==20.4.7
visions==0.7.4
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==0.15.5
widgetsnbextension==3.5.2
wikipedia==1.4.0
wrapt==1.12.1
xlrd==2.0.1
